{{> nav/nav-block}}

{{!-- <div class="wrapper">
    <div class="sidebar">
        <h2></h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Saved Trips</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Create a New Trip</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>Change Current Trip</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Share Trip With Your Friends / Family</a></li>
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div> --}}

<form class= "container bg-dark text-white">
  <h1 for="exampledestination" class="center-align" >When Is Your Next Trip</h1>
  <label for="date_from">From</label>
  <input type="date" class="datepicker">
  <label for="date_to">To</label>
  <input type="date" class="datepicker">

  <div class="form-group">
    <h1 for="exampledestination" class="center-align" >Where Are You Traveling To ?</h1>
    <input type="destination" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="Enter travel destination">
    <small id="emailHelp" class="form-text text-muted">We'll Never Share Your Location With Anyone Else. (Unless You Want Us Too!)</small>
  </div>
  <h2 class="center-align">What Would You Like To Do While You Are Traveling ?</h2>
    <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Museums</span>
      </label>
    </p>
        <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Parks</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Restaurant</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Trails</span>
      </label>
    </p>

</div>
<a class="waves-effect waves-light btn center"><i class="material-icons left">cloud</i>Submit</a>

</form>
<script> 
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
        
</script>
        

