{{> nav/nav-block}}

<form class= "container #607d8b blue-grey text-white">
  <h2 for="exampledestination" class="center-align">Set Your Travel Dates</h2>
  <label for="date_from" class= "text-white">From</label>
<<<<<<< HEAD
  <input type="date" class="datepicker" id="inputStart">

  <label for="date_to" class= "text-white">To</label>
  <input type="date" class="datepicker" id="inputEnd">
=======
  <input type="date" class="datepicker" id = "inputStart">

  <label for="date_to" class= "text-white">To</label>
  <input type="date" class="datepicker" id = "inputEnd">
>>>>>>> 27e2ed90e968f5982b3ed900277236867c66fbdc

<br><br>

  <div class="form-group">
    <h2 for="exampledestination" class="center-align" >Where Are You Traveling To ?</h2>
    <input type="destination" class="form-control" id="inputFirst" aria-describedby="" placeholder="Enter travel destination">
    <small id="emailHelp" class="form-text text-white">We'll Never Share Your Location With Anyone Else. (Unless You Want Us Too!)</small>
  </div>

<br><br>

  <div>
  <h2 class="center-align">What Activities Peak Your Interest ?</h2>
  <select class="browser-default">
    <option value="" disabled selected>Choose Your Activity</option>
    <option value="1">Museums</option>
    <option value="2">Parks</option>
    <option value="3">Restaurant</option>
    <option value="4">Trails</option>
  </select>
  </div>

<br><br>

<a class="waves-effect waves-light btn" href="/current" id="add-location">Submit <i class="fas fa-bus"></i></a>


</form>
{{!-- <script> 
  ('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
        
</script> --}}
        
{{> footer/footer }}
