{{> nav/nav-block}}

<h1>Continue with your current progress here!</h1>

<div class="container blue-grey">
  <div class="row">
    <div class="sta col s12 m6 l6 #ffffff white text-black">This is going to be the most recent trip.</div>
    <div class="sta col s12 m6 l6 #ffffff white text-black">Second most recent trip.</div>
  </div>
  <div class="row">
    <div class="sta col s12 m6 l6 #ffffff white text-black">Third most recent trip.</div>
    <div class="sta col s12 m6 l6 #ffffff white text-black">Fouth most recent trip.</div>
  </div>
</div>


{{> footer/footer }}