{{> nav/nav-block}}

<h1>Continue with your current progress here!</h1>

<div class="saved container blue-grey">
  <div class="row">
    <div class="sta col s12 m6 l6 #ffffff white text-black">Selection One <a href="/"></a><button class="btn">here</button></div>
    <div class="sta col s12 m6 l6 #ffffff white text-black">Selection Two <button class="btn">here</button></div>
  </div>
  <div class="row">
    <div class="sta col s12 m6 l6 #ffffff white text-black">Selection Three <button class="btn">here</button></div>
    <div class="sta col s12 m6 l6 #ffffff white text-black">Selection Four <button class="btn">here</button></div>
  </div>
</div>


{{> footer/footer }}