{{> nav/nav-block}}

<h1>Continue with your current progress here!</h1>

<div class="container">
  <div class="row ">
    <div class="sta col s6 #ffffff white text-black">A</div>
    <div class="sta col s6 #ffffff white text-black">B</div>
  </div>
  <div class="row">
    <div class="sta col s6 #ffffff white text-black">C</div>
    <div class="sta col s6 #ffffff white text-black">D</div>
  </div>
</div>

{{> footer/footer }}