{{> nav/nav-block}}

<h1>Continue with your current progress here!</h1>

<div class="newfound container">
  <div class="row">
    <div class="sta col s6">A</div>
    <div class="stb col s6">B</div>
  </div>
  <div class="row">
    <div class="stc col s6">C</div>
    <div class="std col s6">D</div>
  </div>
</div>

{{> footer/footer }}