{{> nav/nav-block}}


<div class="main container">
  <div class="row">
    <div class="lefty col s6">
      <div class="jumbotron text-center header-wrap" align="center">
        <p class="lead">What's good <strong>TRAVELERS</strong></p>
        <hr class="my-4">
        <div>
          {{#if isloggedin}}
            You are supposedly "{{user.firstName}}"... if not.....
            <p class="panther"></p>
            <div><a href="/logout"> <button type="btn" class="btn">Leave us....</button></a></div>
          {{else}}
            <div class="col s6">
              <p>You need to check with <a class="nav-link" href="/login"><button class="btn">THE ADMINISTRATION</button></a> before continuing.</p>
              </div>
            <div class="col s6">
              <p>If not with the registry, <a class="nav-link" href="/login"><button class="btn">APPLY</button></a></p>
              </div>
          {{/if}}
          <h5 id="login-err-msg"></h5>
        </div>
      </div>
    </div>
    {{#if isloggedin}}
    <div class="search col s6">
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="  I want to go...?">
          </div>
          <div class="col-auto">
            <button class="btn" type="submit">Explore!</button>
          </div>
        </div>
      </form>
    </div>
    {{/if}}
  </div>
</div>

{{#if isloggedin}}
<div class="base container">
  <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-content">
            <span class="card-name">Developer Spot:</span>
            <p class="cardp"></p>
          </div>
          <div class="card-action">
            <div class="card-image">
              <img src="http://materializecss.com/images/sample-1.jpg">
              <a href="#" class="card-title">Go there <strong>NOW!</strong></a>
            </div>
            
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card">
          <div class="card-content">
            <span class="card-name">Marketing Favorite:</span>
            <p class="cardp"></p>
          </div>
          <div class="card-action">
            <div class="card-image">
              <img src="http://materializecss.com/images/sample-1.jpg">
              <a href="#" class="card-title">Go there <strong>NOW!</strong></a>
            </div>
          </div>
        </div>
      </div>


    <div class="col s4">
      <div class="card">
        <div class="card-content">
          <span class="card-name">Support's Retreat:</span>
          <p class="cardp"></p>
        </div>
        <div class="card-action">
          <div class="card-image">
            <img src="http://materializecss.com/images/sample-1.jpg">
            <a href="#" class="card-title">Go there <strong>NOW!</strong></a>
          </div>
        </div>
      </div>
    </div>

    <br><br> 
    </div>
    </div>
{{/if}}

{{> footer/footer }}



{{> modal/login-block}}




{{!-- <div id="main-container" class="container">
  <div class="row">
    <div class="col s6">
      <div class="jumbotron text-center header-wrap" align="center">
          <p class="lead">What's good <strong>TRAVELERS</strong></p>
          <hr class="my-4">
            <div>
          {{#if isloggedin}}
            You are supposedly "{{user.firstName}}"... if not.....
            <p class="panther"></p>
            <div><a href="/logout"> <button type="btn" class="btn">Leave us....</button></a></div>
          {{else}}
            <p>You need to check it before continuing.</p>
          {{/if}}
          <h5 id="login-err-msg"></h5>
        </div>
      </div>
    </div>
  </div> --}}

                            {{!-- <div class="col s6">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="  I want to be...?">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Explore!</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div> --}}
