{{> nav/nav-block }}

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 #ffc107 amber white-text">
            <form>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="pass">Password:</label><br>
                <input type="password" id="pass" name="password" minlength="8" required><br>
                <br>
                <input type="submit" value="Login In">
            </form>

        </div>
    </div>
</div>

{{> footer/footer }}