{{> nav/nav-block}}



<div class="container" style="text-align: center;">
    <div class="row">
        <div class="wow col s3">Information About North Carolina</div>
        <div class="whoo col s3">Travel Safety Tips:
            <ol>
                <li>Travel, walk and park in lighted, populated areas.</li>
                <li>Ask for an escort if you feel at risk.</li>
                <li>Keep some money hidden in your vehicle for taxis or unexpected problems where a credit card may not be the best option.</li>
                <li>Keep car doors locked and windows up at all times, especially while you are in it.</li>
            </ol>
            Provided by <a href="https://www.ncdps.gov/dps-services/safety-tips/travel-safety">NC DPS</a>
        </div>
        <div class="wah col s3">Disclaimer, there might be highly venomous African Zebra Cobra running around the North Raleigh area.  Expect these lands to be forever tainted with snakey snakey-ness.</div>
    </div>
</div>


