{{> nav/nav-block }}


<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 #ffc107 amber white-text">
            <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="pass">Password (8 characters minimum):</label><br>
                <input type="password" id="pass" name="password" minlength="8" required><br>
                <br>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>

{{> footer/footer }}