{{> nav/nav-block}}



<div class="saved container blue-grey">
  <div class="row text-white">
    <h1>WELCOME BACK!!!</h1>
    <div class="col s12 m12 l12">This is where you can access you previous adventures!  Show a friend a new area, revisite a good memory or observe something new!</div>
  </div>

  <div class="row ">
    <div class="sta col s12 m6 l6 #ffffff white text-black">This is going to be the most recent trip.</div>
    <div class="sta col s12 m6 l6 #ffffff white text-black">Second most recent trip.</div>
  </div>
  <div class="row">
    <div class="sta col s12 m6 l6 #ffffff white text-black">Third most recent trip.</div>
    <div class="sta col s12 m6 l6 #ffffff white text-black">Fouth most recent trip.</div>
  </div>
</div>



{{> footer/footer }}