{{> nav/nav-block}}

<div class="row text-white">
  <h1>Almost There!</h1>
  <div class="col s12 m12 l12 text-center">Here, you can review and confirm your outing.</div>
</div>

<div class="saved container blue-grey">

  <div class="row ">
    <div class="sta col s12 m6 l6 #ffffff white text-black">This is going to be the most recent trip.</div>
    <div class="sta col s12 m6 l6 #ffffff white text-black">Second most recent trip.</div>
  </div>
  <div class="row">
    <div class="sta col s12 m6 l6 #ffffff white text-black">Third most recent trip.</div>
    <div class="sta col s12 m6 l6 #ffffff white text-black">Fouth most recent trip.</div>
  </div>
</div>



{{> footer/footer }}