{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="newthing col s12" style="color: black !important; background-color: rgba(220, 20, 60, 0.466);">hello</div>
  </div>
</div>