{{> nav/nav-block}}

<h1>WELCOME BACK!!!</h1>

<div class="saved container">
  <div class="row">
    <div class="col s12">This is where you can access you previous adventures!  Show a friend a new area, revisite a good memory or observe something new!</div>
  </div>

  <div class="row">
    <div class="sta col s6">A</div>
    <div class="stb col s6">B</div>
  </div>
  <div class="row">
    <div class="stc col s6">C</div>
    <div class="std col s6">D</div>
  </div>
</div>

{{> footer/footer }}