    {{!-- <footer class="page-footer">
        <div class="feetz container">
          <div class="row">
            <div class="maybz col s12">
                &copy; <em id="date"></em>2021 CSS CROCODILES. All rights reserved.
            </div>
          </div>
        </div>
      </footer> --}}

<div class="page-footer">
  <div class="feetz container">
    <div class="row">
      <div class="maybz col s12">
          &copy; <em id="date"></em>2021 CSS CROCODILES. All rights reserved.  
      </div>
    </div>
  </div>
</div>