:root {
  --dash: brown;
  --nuf: white;
  --text: black;
  --stgroup: white;
  --buttons: burlywood;
  --bgd: brown; /* banner background */
}

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lora', sans-serif;
  /* font-size: 22px; */
}

.main {
  margin-top: 7% !important;
}

.lefty {
  margin-top: 2%;
  background-color: white;
}

.search {
  margin-top: 6% !important;
}

.base {
  background-color: var(--dash);
  margin-top: 0% !important;
  padding-top: 2%;
  margin-bottom: 0%; 
}

body {
  /* background-size: cover; */
  /* height:100%; */
  
  background-color: #007387;
  background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

/* .btn {
  color:white;
  background:#cadde1;
  border: 1px solid white;
} */

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  margin-top: 5%;
  border-radius: 10px;
  margin-bottom: 2%;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--bgd);
  border-radius: 20px;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #444;
}

.card-title {
  color: white !important;
  font-size: 200%;
  justify-content: center;
  margin-left: 10%;
}

.card-name {
  font-size: 200%;
  text-align: center;
}

.panther {
  margin: 15px;
}

.wow, .whoo, .wah, .tea {
  margin: 2px;
  border-radius: 10px;
}

.bagels {
  background-color: black;
  color: white;
}

.donuts {
  background-color: black;
}

.tabs {
  display:flex;
  justify-content: center;
  align-items: center;
}

.feetz {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.maybz {
  background: var(--nuf);
  opacity: 0.5;
  border-radius: 15%;
}

.nav-extended {
  background: var(--nuf);
  color: var(--text);
}

.page-footer {
  max-height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--text);
  font-size: 130%;
}

h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
}

.saved {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sta {
  text-align: center;
  margin: 2%;
  border-radius: 10px;
}

#update-user, #delete-user, #view-user {
  justify-content: center;
  align-content: center;
}

h3 {
  text-align: center;
}

.btn {
  background-color: var(--buttons);
  border-radius: 50px;
}

.btn-nav{
  background-color: var(--buttons);
  /* border-radius: 50px; */
  border: transparent;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  padding-left: 10px;
  padding-right: 10px;
}



body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #eee; */
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

.brand-logo {
  color: var(--text) !important;
}

