<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top blue lighten-2">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    Traveler's Landing
  </a>
  {{!-- <i class="large material-icons right">flight_land</i> --}}
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">

    {{!-- <li class="nav-item">
      <a class="nav-link" href="/some-feature">Menu item here</a>
    </li> --}}

    {{#if isloggedin}}
      <li class="nav-item">
        <a class="nav-link " href="/savedtrips">Saved Trips <i class="fas fa-user"></i></a>
      </li> 
      <li class="nav-item ">
        <a class="nav-link" href="/create">Create Your Next Dream Trip <i class="fas fa-map-pin"></i></a>
      </li>
      <li class="nav-item">

        <a class="nav-link" href="/example">Example Page</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/profile">My Profile <i class="fas fa-home"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/NCDis">NCDis <i class="fas fa-project-diagram"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/materialize">Materialize</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
      </li>

      
    {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/example">Example</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example-detail">Example Detail</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{> modal/login-block}}
