    <nav class="nav-extended #607d8b blue-grey text-white">
        <div class="nav-wrapper">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <div class="brand-logo center fixed-top">Traveler's Landing</div>
          <a class="brand-logo center fixed-top"></a>
        </div>
        <div class="nav-content">
          <ul class="tabs #607d8b blue-grey text-white">
            {{#if isloggedin}}
            <li class="tab"><a href="/dashboard"><button class="btn-nav animate__animated animate__rubberBand">Dashboard <i class="fas fa-door-open"></i></button></a></li>
            <li class="tab"><a href="/create"><button class="btn-nav animate__animated animate__rubberBand ">Create Your Next Trip <i class="fas fa-map-pin"></i></button></a></li>
            <li class="tab"><a href="/current"><button class="btn-nav animate__animated animate__rubberBand ">Current Trip <i class="fas fa-car"></i></button></a></li>
            <li class="tab"><a href="/savedtrips"><button class="btn-nav animate__animated animate__rubberBand">Planned Trip <i class="fas fa-suitcase-rolling"></i></button></a></li>
            <li class="tab"><a href="/profile"><button class="btn-nav animate__animated animate__rubberBand">My Profile <i class="fas fa-home"></i></button></a></li>
            <li class="tab"><a href="/logout"><button class="btn-nav animate__animated animate__rubberBand ">Logout <i class="fas fa-sign-out-alt"></i></button></a></li>
            {{else}}
            <li class="tab"><a href="/dashboard"><button class="btn-nav animate__animated animate__rubberBand">Dashboard <i class="fas fa-home"></i></button></a></li>
            <li class="tab"><a href="/login"><button class="btn-nav animate__animated animate__rubberBand">Login <i class="far fa-bookmark"></i></button></a></li>
            <li class="tab"><a href="/register"><button class="btn-nav animate__animated animate__rubberBand">Register <i class="fas fa-door-open"></i></button></a></li>
            {{/if}}
          </ul> 
          <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
        </div>
      </nav>



