    <nav class="nav-extended">
        <div class="nav-wrapper">
          <a class="brand-logo center fixed-top">Traveler's Landing</a>
        </div>
        <div class="nav-content">
          <ul class="tabs">
            {{#if isloggedin}}
            <li class="tab"><a href="/savedtrips">Saved Trips</a></li>
            <li class="tab"><a href="/create" class="animate__animated animate__bounce">Create Your Next Dream Trip</a></li>
            <li class="tab"><a href="/profile" class="animate__animated animate__bounce">My Profile</a></li>
            <li class="tab"><a href="/NCDis" class="animate__animated animate__bounce">NCDis</a></li>
            <li class="tab"><a href="/logout" class="animate__animated animate__bounce">Logout</a></li>
            {{else}}
            <li class="tab"><a href="/example" class="animate__animated animate__bounce">Example Page</a></li>
            <li class="tab"><a href="#test4" class="animate__animated animate__bounce">Test 4</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>

{{> modal/login-block}}
