    <nav class="nav-extended">
        <div class="nav-wrapper">
          <a class="brand-logo center fixed-top">Traveler's Landing</a>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            {{#if isloggedin}}
            <li class="tab"><a href="/savedtrips">Saved Trips</a></li>
            <li class="tab"><a href="/create">Create Your Next Dream Trip</a></li>
            <li class="tab"><a href="/profile">My Profile</a></li>
            <li class="tab"><a href="/NCDis">NCDis</a></li>
            <li class="tab"><a href="/logout">Logout</a></li>
            {{else}}
            <li class="tab"><a href="/example">Example Page</a></li>
            <li class="tab"><a href="#test4">Test 4</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>

{{> modal/login-block}}
